*

!.zshrc

!waybar
!waybar/layouts
!waybar/layouts/my_config.jsonc
!hypr
!hypr/userprefs.conf
!hypr/hypridle.conf
!hypr/keybindings.conf
!hypr/windowrules.conf
!kitty/kitty.conf
!.gitignore
!readme.md
